.page {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie {
  text-align: center;
  transition: transform ease .3s;
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.1);
}

.movie-title, .movie-year {
  margin: 0;
}

.movie.poster {
  margin-top: 1rem;
  border-radius: 1rem;
  min-height: 350px;
}