.page {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  margin-top: 1rem;
  border-radius: 1rem;
  min-height: 350px;
}